@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
    <p>
        <img 
            src="/img/construction-workers.png"  
            style="width: 100%; height:25rem;object-fit:cover"
            />
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id malesuada libero. Proin sagittis felis non erat hendrerit efficitur. Aenean interdum sodales est eget maximus. Mauris dignissim ipsum id mauris pretium, vel iaculis sapien sodales. Praesent varius mauris id justo tincidunt eleifend. Vestibulum risus nisl, aliquam ultricies odio nec, facilisis dignissim ligula. Praesent sed ligula eu tellus tempor eleifend. Sed vel arcu eget metus tristique elementum. Donec ut urna purus. Vestibulum nunc lorem, consequat vel ante ut, dignissim facilisis nisi. Praesent vitae cursus ligula, ut volutpat risus. Sed feugiat pellentesque nunc in molestie. Vivamus hendrerit ante sapien, non facilisis quam mollis id.</p>
    <p>Aenean tristique erat tellus, ac porta eros volutpat id. Quisque sem leo, gravida in ex in, dapibus faucibus neque. Duis ullamcorper convallis leo, sed cursus lectus. Integer mattis eros nec auctor dictum. Integer egestas neque vel ornare tincidunt. Donec mi enim, dapibus porttitor tellus ac, dignissim vestibulum ante. Aenean viverra placerat porttitor. Donec ultrices tempus pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec gravida elementum ante non ornare. Quisque tristique lectus eros, quis commodo neque rhoncus vel. Sed at arcu sagittis, sagittis diam sed, ultrices arcu. Aenean bibendum finibus mattis.</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
